{{ $dir := string (.Get "dir") }}
<ul class="image-gallery">
{{ range (readDir (print "/static" $dir)) }}
  {{- $image := resources.Get (printf "%s/%s" $dir .Name) -}}
  {{- $imageurl := printf "%s/%s" $dir .Name -}}
  {{- $imagetitle := index (split .Name ".") 0 -}}
  {{- if eq $image.ResourceType "image" -}}
  <li>
    <a href="{{ ($image.Fit "1600x1600 Center q50").Permalink }}">
      <img src="{{ ($image.Fill "300x300 Center q50").Permalink }}" alt="Image {{ $imagetitle }}" />
    </a>
  </li>
  {{- end -}}
{{ end }}
</ul>
