
{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty brick found. Consider creating a 'content/bricks/map.md' file." -}}
    {{- with page.Site.GetPage "bricks/map.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}
{{- $imagesrc := substr (index (split (index (findRE `!\[[^\]]*?]\(([^\)]*?)\)` $inner 1) 0) "](") 1) 0 -1 -}}
{{- $inner = markdownify $inner -}}
{{- $image := index (findRE `(?s)<p><img.*?p>` $inner 1) 0 -}}
{{- $link := index (findRE `(?s)<a.*?>` $inner 1) 0 -}}
{{- $inner = replace $inner $image "" 1 -}}
{{- $link := index (findRE `(?s)<p><a.*?p>` $inner 1) 0 -}}
{{- $inner = replace $inner $link "" 1 -}}
{{- $href := index (split $link `"`) 1 -}}
<section class="map hasbackgroundcolor stickstofooter">
    <div class="map" style="background-image: url({{ $imagesrc }});">
        <div class="overlay" onclick="window.open('{{ $href }}');" style="cursor: pointer;"></div>
        <div class="container">
            <div>{{- markdownify $inner -}}</div>
        </div>
    </div>
</section>