<img src="/form.php" style="position: absolute; opacity: 0; pointer-events: none;" />
<form id="contactform" class="form" method="POST" action="{{ .action }}">
    {{- range .fields -}}
        {{- if eq .input_type `textarea` -}}
            <div>
                <label class="inborder{{ if eq $.placeholders true }} sr-only{{ end }}" for="{{ .name }}">{{ .label }}</label>
                <textarea name="{{ .name }}" name="{{ .name }}" id="{{ .name }}" cols="30" rows="10" class="form-control" {{ if eq $.placeholders true }}placeholder="{{ .label }}"{{ end }} required></textarea>
            </div>
        {{- else if eq .input_type `radio` -}}
            <div class="radio">
                <label><input type="radio" name="{{ .name }}" value="{{ .label }}" required>{{ .label }}</label>
            </div>
        {{- else if eq .input_type `checkbox` -}}
            <div class="checkbox">
                <label><input type="checkbox" name="{{ .name }}" value="{{ .label }}" required>{{ .label | safeHTML }}</label>
            </div>
        {{- else if eq .input_type `html` -}}
            {{ .label | safeHTML }}
        {{- else if eq .input_type `submit` -}}
            <div class="submit">
                <div><input type="{{ .input_type }}" value="{{ .label }}" class="button" /></div>
            </div>
        {{- else -}}
            <div>
                <label class="inborder{{ if eq $.placeholders true }} sr-only{{ end }}" for="{{ .name }}">{{ .label }}</label>
                <input type="{{ .input_type }}" name="{{ .name }}" id="{{ .name }}" class="form-control" {{ if eq $.placeholders true }}placeholder="{{ .label }}"{{ end }} required>
            </div>
        {{- end -}}
    {{- end -}}
</form>