<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>{{ .Title }} | {{ .Site.Data.general.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Summary }}">

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="shortcut icon" href="{{ .Site.Data.general.favicon_image }}">
    
    <link href="/css/style.css?version={{ now }}" rel="stylesheet">
  </head>
  <body id="top">
    <header>
      {{- if .Site.Data.header.has_preheader -}}
      <div class="preheader">
        <div class="container">
          <div class="icons">
            {{- if .Site.Data.header.contact.phone -}}<a href="tel:{{ replace .Site.Data.header.contact.phone " " "" }}" class="icon"><img src="/img/phone.svg" alt="{{ .Site.Data.header.contact.phone }}" /> {{ .Site.Data.header.contact.phone }}</a>{{- end -}}
            {{- if .Site.Data.header.contact.email -}}<a href="mailto:{{ .Site.Data.header.contact.email }}" class="icon"><img src="/img/email.svg" alt="{{ .Site.Data.header.contact.email }}" /> {{ .Site.Data.header.contact.email }}</a>{{- end -}}
          </div>
          <div>
            {{- if .Site.Data.header.preheader_text -}}{{ .Site.Data.header.preheader_text }}{{- end -}}
          </div>
        </div>  
      </div>
      {{- end -}}
      <div class="container">
        <div>
          {{ partial "logo.html" . }}
        </div>
        <div class="nav">
          <nav>
            <ul>
              {{ range .Site.Data.header.menuitems }}
                <li class="{{ if (index .items 0).title }}haschildren{{ end }}"><a href="{{ .link }}">{{ .title }}</a>
                  {{ if (index .items 0).title }}
                  <ul>
                    {{ range .items }}
                      <li><a href="{{ .link }}">{{ .title }}</a></li>
                    {{ end }}
                  </ul>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
        <div>
          <a href="{{ .Site.Data.header.cta.link }}" class="button ghost smaller">{{ .Site.Data.header.cta.title }}</a>
          <button id="togglemenu" onclick="document.body.classList.toggle('menushown');">Toggle menu</button>
        </div>
    </header>

    {{- block "content" . -}}{{- end -}}

    <footer>
      <div>
        <div class="container">
          <div>
            {{ partial "logo.html" . }}
          </div>
          <div>
            <ul>
              {{ range .Site.Data.footer.menuitems }}
                <li><a href="{{ .link }}">{{ .title }}</a></li>
              {{ end }}
            </ul>  
          </div>
          <div>
            {{ partial "socialbuttons.html" . }}
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <div>{{ markdownify .Site.Data.footer.footer_text }}</div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="/js/stickyheader.js"></script>
  </body>
</html>
