<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    <title>{{ if .Params.seo.title }}{{ .Params.seo.title }}{{ else }}{{ .Title }} | {{ (index .Site.Data .Language.Lang).general.title }} {{ (index .Site.Data .Language.Lang).header.logo_subtitle }}{{ end }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ if .Params.seo.description }}{{ .Params.seo.description }}{{ else }}{{ .Summary }}{{ end }}">

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="shortcut icon" href="{{ .Site.Data.settings.favicon_image }}">
    
    <link href="/css/style.css?version={{ now }}" rel="stylesheet">
  </head>
  <body id="top" class="{{ if in (substr .Content  0 100) `transparent_header` }}transparent_header{{ end }} filename_{{ with .File }}{{ .BaseFileName }}{{ end }}">
    <script>      
      function updateSize() {
        if(window.innerWidth<{{ (index .Site.Data .Language.Lang).header.mobile_view_width }}) document.body.classList.add('mobilemenu');
        else document.body.classList.remove('mobilemenu');
      }
      updateSize();
      window.addEventListener("resize", updateSize);
    </script>
    <div class="innerbody">
    {{- if .Site.Data.settings.preheader.active -}}
    <div class="preheader{{ if .Site.Data.settings.preheader.is_light }} light{{- end -}}">
      <div class="container">
        <div class="icons">
          {{- if (index .Site.Data .Language.Lang).general.contact.phone -}}
            <a href="tel:{{ replace (index .Site.Data .Language.Lang).general.contact.phone ` ` `` }}" class="icon"><img src="/img/phone.svg" alt="{{ (index .Site.Data .Language.Lang).general.contact.phone }}" class="black_2_textMedium" /> {{ (index .Site.Data .Language.Lang).general.contact.phone }}</a>
          {{- end -}}
          {{- if (index .Site.Data .Language.Lang).general.contact.email -}}
            <a href="mailto:{{ (index .Site.Data .Language.Lang).general.contact.email }}" class="icon"><img src="/img/email.svg" alt="{{ (index .Site.Data .Language.Lang).general.contact.email }}" class="black_2_textMedium" /> {{ (index .Site.Data .Language.Lang).general.contact.email }}</a>
          {{- end -}}
        </div>
        <div>
          {{- if .Site.Data.settings.preheader.text -}}{{ .Site.Data.settings.preheader.text }}{{- end -}}
        </div>
      </div>  
    </div>
    {{- end -}}
    <header>
      <div class="container {{ if (index .Site.Data .Language.Lang).header.cta.active }}has_cta{{ end }}">
        <div>
          {{ partial "logo.html" . }}
        </div>
        <div class="nav">
          <nav>
            <ul>
              {{ range (index .Site.Data .Language.Lang).header.menuitems }}
                <li class="{{ if eq .link `/` }}{{ if eq $.RelPermalink `/` }}active{{ end }}{{ else }}{{ if in $.RelPermalink .link }}active{{ end }}{{ end }}{{ if (index .items 0).title }} haschildren{{ end }}"><a href="{{ .link }}">{{ .title }}</a>
                  {{ if (index .items 0).title }}
                  <ul>
                    {{ range .items }}
                      <li><a href="{{ .link }}">{{ .title }}</a></li>
                    {{ end }}
                  </ul>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
        {{ if (index .Site.Data .Language.Lang).header.cta.active }}
        <div>
          <a href="{{ (index .Site.Data .Language.Lang).header.cta.link }}" class="button ghost smaller">{{ (index .Site.Data .Language.Lang).header.cta.title }}</a>
        </div>
        {{ end }}
        <button id="togglemenu" onclick="document.body.classList.toggle('menushown');">Toggle menu</button>
    </header>

    {{- block "content" . -}}{{- end -}}

    <footer class="{{ if (index .Site.Data .Language.Lang).footer.dark_footer }}dark{{ end }}">
      <div>
        <div class="container">
          <div>
            {{ partial "footerlogo.html" . }}
          </div>
          <div>
            <ul>
              {{ range (index .Site.Data .Language.Lang).footer.menuitems }}
                <li><a href="{{ .link }}">{{ .title }}</a></li>
              {{ end }}
            </ul>  
          </div>
          <div>
            {{ partial "socialbuttons.html" . }}
          </div>
        </div>
      </div>
      <div>
        <div class="container">
		      <div>{{ markdownify (index .Site.Data .Language.Lang).footer.footer_text }}</div>
		    </div>
  		</div>
		</footer>

		{{ if .Site.Data.settings.sticky_header }}
      <script type="text/javascript" src="/js/stickyheader.js"></script>
    {{ end }}
    <script type="text/javascript" src="/js/faq.js"></script>
    <script type="text/javascript" src="/js/lightbox.js"></script>
		<link rel="stylesheet" href="/css/lightbox.css">
    {{ if .Site.Data.settings.customcursor }}
      <script type="text/javascript" src="/js/customcursor.js"></script>
      <link rel="stylesheet" href="/css/customcursor.css">
    {{ end }}
    {{ if .Site.Data.settings.intersectionobserver }}
      <script type="text/javascript" src="/js/intersectionobserver.js"></script>
      <link rel="stylesheet" href="/css/intersectionobserver.css">
    {{ end }}
      </div>
  </body>
</html>


