<!DOCTYPE html>
<html lang="{{ .Language.Lang }}">
  <head>
    <title>{{ if .Params.seo.title }}{{ .Params.seo.title }}{{ else }}{{ .Title }} | {{ (index .Site.Data .Language.Lang).general.title }} {{ (index .Site.Data .Language.Lang).header.logo_subtitle }}{{ end }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ if .Params.seo.description }}{{ .Params.seo.description }}{{ else }}{{ .Summary }}{{ end }}">

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="shortcut icon" href="{{ .Site.Data.settings.favicon_image }}">
    
    {{- $color := "style" -}}
    {{- if .Params.color_name -}}{{- $color = .Params.color_name -}}{{- end -}}
    {{- if .Site.Data.settings.color_name -}}{{- $color = .Site.Data.settings.color_name -}}{{- end -}}
    {{ with (resources.Get (printf `/css/%s.css` $color)) }}
      {{ $fingerprinted := . | resources.Fingerprint "md5" }}
      <link href="{{ $fingerprinted.RelPermalink }}" rel="stylesheet">
    {{ end }}

  </head>
  <body id="top" class="{{ if in (substr .Content  0 100) `transparent_header` }}transparent_header{{ end }} filename_{{ with .File }}{{ .BaseFileName }}{{ end }}">
    <script>      
      function updateSize() {
        if(window.innerWidth<{{ (index .Site.Data .Language.Lang).header.mobile_view_width }}) document.body.classList.add('mobilemenu');
        else document.body.classList.remove('mobilemenu');
      }
      updateSize();
      window.addEventListener("resize", updateSize);
    </script>
    <div class="innerbody">
    {{- if .Site.Data.settings.preheader.active -}}
    <div class="preheader {{ if .Params.preheader_is_light }}light{{ else }}{{ if and (ne .Params.preheader_is_light false) .Site.Data.settings.preheader.is_light }}light{{ end }}{{ end }}">
      <div class="container">
        <div class="icons">
          {{- if (index .Site.Data .Language.Lang).general.contact.phone -}}
            <a href="tel:{{ replace (index .Site.Data .Language.Lang).general.contact.phone ` ` `` }}" class="icon"><img src="/img/phone.svg" alt="Phone icon" class="black_2_textMedium" /> {{ (index .Site.Data .Language.Lang).general.contact.phone }}</a>
          {{- end -}}
          {{- if (index .Site.Data .Language.Lang).general.contact.email -}}
            <a href="mailto:{{ (index .Site.Data .Language.Lang).general.contact.email }}" class="icon"><img src="/img/email.svg" alt="Email icon" class="black_2_textMedium" /> {{ (index .Site.Data .Language.Lang).general.contact.email }}</a>
          {{- end -}}
        </div>
        <div>
          {{- if (index .Site.Data .Language.Lang).header.preheader -}}{{ (index .Site.Data .Language.Lang).header.preheader }}{{- end -}}
        </div>
      </div>  
    </div>
    {{- end -}}
    <header class="{{ if .Params.dark_header }}dark{{ else }}{{ if and (ne .Params.dark_header false) .Site.Data.settings.dark_header }}dark{{ end }}{{ end }}">
      <div class="container {{ if (index .Site.Data .Language.Lang).header.cta.active }}has_cta{{ end }}" onclick="document.body.classList.remove('menushown');">
        <div>
          {{ partial "logo.html" . }}
        </div>
        <div class="nav">
          <nav class="navnav">
            <ul>
              {{ range (index .Site.Data .Language.Lang).header.menuitems }}
                <li class="{{ if eq .link `/` }}{{ if eq $.RelPermalink `/` }}active{{ end }}{{ else }}{{ if (hasPrefix $.RelPermalink .link) }}active{{ end }}{{ end }}{{ if (index .items 0).title }} haschildren{{ end }}"><a href="{{ .link }}" onclick="navClick(event, this);">{{ .title }}</a>
                  {{ if (index .items 0).title }}
                  <ul>
                    {{ range .items }}
                      <li class="{{ if hasPrefix $.Page.RelPermalink .link }}active{{ end }}"><a href="{{ .link }}">{{ .title }}</a></li>
                    {{ end }}
                  </ul>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
        <div>
		      {{- if .Site.Data.settings.enable_webshop -}}
            {{- if (index .Site.Data .Language.Lang).webshop.show_cart_icon -}}
            <a href="{{ (index .Site.Data .Language.Lang).webshop.cart_link }}">
              <img src="/img/shopping-cart.svg" alt="Shopping cart icon" class="black_2_textDark" />
              <span class="itemcount">0</span>
            </a>
            {{- end -}}
          {{- end -}}
          {{ if .Site.Data.settings.enable_search }}
          <a href="/search">
            <img src="/img/search.svg" alt="Search icon" class="black_2_textDark" />
          </a>
          {{- end -}}
          {{- if gt (len .Site.Languages) 1 -}}
          <div class="navnav languages">
            <ul>
              <li class="haschildren">
                <a href="/{{ .Site.Language.Lang }}/">{{ if .Site.Language.Params.flag }}{{ .Site.Language.Params.flag }} {{ end }}{{ .Site.Language.LanguageName | default (.Site.Language.Lang | upper) }}</a>
                <ul>
					{{ range .Site.Languages }}
					{{ if ne .Lang $.Site.Language.Lang }}<li><a href="{{ if eq .Lang $.Site.Language.Lang }}/{{ else }}/{{ .Lang }}/{{ end }}">{{ if .Params.flag }}{{ .Params.flag }} {{ end }}{{ .LanguageName }}</a></li>{{ end }}
					{{ end }}
                </ul>
              </li>
            </ul>
          </div>
          {{- end -}}
          {{ if (index .Site.Data .Language.Lang).header.cta.active }}
          <a href="{{ (index .Site.Data .Language.Lang).header.cta.link }}" class="button smaller">{{ (index .Site.Data .Language.Lang).header.cta.title }}</a>
		      {{ end }}
        </div>
        <button id="togglemenu" onclick="event.stopPropagation(); document.body.classList.add('menushown');"><span class="black_2_textDark">Toggle menu</span></button>
        <script>
          function navClick(event,el) {
            var li = el.parentElement;
            if(document.body.classList.contains('mobilemenu')) {
              if (li.classList.contains('haschildren')) {
                var ul = li.querySelector('ul');
                if(ul) {
                  if(window.getComputedStyle(ul).maxHeight == '0px') {
                    var uls = document.querySelectorAll('nav ul ul');
                    uls.forEach(function(u) {
                      u.style.height = '0px';
                      u.style.maxHeight = '0px';
                    });
                    ul.style.height = 'auto';
                    ul.style.maxHeight = '700px';
                    event.preventDefault();
                    event.stopPropagation();
                  }
                }
              }
            }
          }
        </script>
    </header>

    {{- block "content" . -}}{{- end -}}

    <footer class="{{ if .Params.dark_footer }}dark{{ else }}{{ if and (ne .Params.dark_footer false) .Site.Data.settings.dark_footer }}dark{{ end }}{{ end }}">
      <div>
        <div class="container">
          <div>
            {{ partial "footerlogo.html" . }}
          </div>
          <div>
            <ul>
              {{ range (index .Site.Data .Language.Lang).footer.menuitems }}
                <li><a href="{{ .link }}">{{ .title }}</a></li>
              {{ end }}
            </ul>  
          </div>
          <div>
            {{ partial "socialbuttons.html" . }}
          </div>
        </div>
      </div>
      <div>
        <div class="container">
		      <div>{{ markdownify (index .Site.Data .Language.Lang).footer.footer_text }}</div>
          {{- if gt (len .Site.Languages) 1 -}}
          <div>
            <select aria-label="Change language" onchange="if(this.value) document.location.href = this.value;"><option>Change language</option>{{ range .Site.Languages }}<option value="{{ if eq .Lang $.Site.Language.Lang }}/{{ else }}/{{ .Lang }}/{{ end }}" {{ if eq $.Language.Lang .Lang }}disabled{{ end }}>{{ if .Params.flag }}{{ .Params.flag }} {{ end }}{{ .LanguageName }}</option>{{ end }}</select></div>
          </div>
          {{- end -}}
		    </div>
  		</div>
		</footer>

		{{ if .Site.Data.settings.sticky_header }}
      <script type="text/javascript" src="/js/stickyheader.js"></script>
    {{ end }}
    <script type="text/javascript" src="/js/faq.js"></script>
    <script type="text/javascript" src="/js/lightbox.js"></script>
		<link rel="stylesheet" href="/css/lightbox.css">
    {{ if .Site.Data.settings.customcursor }}
      <script type="text/javascript" src="/js/customcursor.js"></script>
      <link rel="stylesheet" href="/css/customcursor.css">
    {{ end }}
    {{ if .Site.Data.settings.intersectionobserver }}
      <script type="text/javascript" src="/js/intersectionobserver.js"></script>
      <link rel="stylesheet" href="/css/intersectionobserver.css">
    {{ end }}
    {{- if .Site.Data.settings.enable_webshop -}}
      {{- if (index .Site.Data .Language.Lang).webshop.show_cart_icon -}}
      <script type="text/javascript" src="/js/webshop.js"></script>
      <script type="text/javascript">
        updateCartCount();
        populateCart();
      </script>
      {{- end -}}
    {{- end -}}

      </div>
  </body>
</html>
