<!-- 
{{/* 
    
    Usage: 
    {{< youtube "qtIqKaDlqXo" "/uploads/youtubeposter.jpg" >}} 
    
*/}}
-->
{{- $id := "" -}}
{{- $image := "" -}}
{{- if .IsNamedParams -}}
    {{- $id = .Get "id" -}}
    {{- $image = .Get "image" -}}
{{- else -}}
    {{- $id = .Get 0 -}}
    {{- $image = .Get 1 -}}
{{- end -}}
<p><a class="shortcode-youtube" href="https://www.youtube.com/watch?v={{ $id }}" title="Play Youtube video" target="_blank"><img src="{{ if (resources.GetMatch $image) }}{{ ((resources.GetMatch $image).Fill `1200x675 jpg Smart q50`).RelPermalink | safeURL }}{{ else }}{{ $image }}{{ end }}" alt="Youtube video {{ $id }}" /></a></p>