:root {
    --blue: #1e90ff;
    --white: #ffffff;
}
@font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/signika-v20-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/heebo-v21-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/heebo-v21-latin-600.woff2') format('woff2');
}
  

* {padding: 0; margin: 0; box-sizing: border-box;}
html {font-size: clamp(14px, 2vw, 16px); line-height: 1.7; height: 100%; scroll-behavior: smooth;}
body {font-family: 'Heebo', sans-serif; font-size: 1rem; color: rgba(0,0,0,0.7);}
.container {margin: 0 auto; max-width: 82rem; padding: 0 clamp(1rem,4vw,3rem);}
img {max-width: 100%; display: block;}
a {color: rgba(0,0,0,0.7);}
ul.buttons {gap: 1rem;}
h1, h2, a.logo {font-family: 'Signika', sans-serif; line-height: 1.2; font-size: 2.4rem; color: black;}
h1 {font-size: 3rem;}
h2 {margin-bottom: 1.25rem;}
a.logo {font-size: 1.8rem; font-weight: bold; text-decoration: none; color: black; position: relative; bottom: 0.05em; display: flex; gap: 0.5rem;}
a.logo img.inline {height: 2rem; position: relative; top: 0.1rem;}
p, ul, ol {margin-bottom: 1.7em;}
ul {margin-left: 1rem;}
ol {margin-left: 2rem;}

/*------------------------*/
/* header and footer
/*------------------------*/

header {padding: 1.5rem 0; position: sticky; top: 0; background: white;}
header ul, footer ul {display: flex; justify-content: center; gap: 2rem; margin: 0;}
header ul li, footer ul li {list-style: none;}
header nav > ul > li a {font-weight: bold; color: black; padding: 0.75rem 0; display: block;}
header nav > ul > li > ul {
    display: none;
    position: absolute;
    box-shadow: 0px 0px 1.5rem rgba(0,0,0,0.1);
    margin-left: -1rem;
    background: white;
    border-radius: 0.4rem;
    text-align: left;
    padding: 0.75rem 0 1rem;
}
header nav > ul > li > ul li a {padding: 0.4rem 2rem 0.4rem 1rem;}
header nav > ul > li:hover > ul {display: block;}
header nav > ul > li.haschildren > a::after {
    content:""; 
    width: 0.3rem; 
    height: 0.3rem; 
    border: 0.1rem solid black; 
    border-left: 0; 
    border-top: 0;
    margin-left: 0.4rem;
    position: relative;
    bottom: 0.19rem;
    display: inline-block;
    transform: rotate(45deg);
}
header ul li a, footer ul li a {text-decoration: none;}
footer ul li a {color: rgba(0,0,0,0.7)}
header .container, footer .container {display: flex; align-items: center;}
header .container div, footer .container > div {flex: 3; text-align: center;}
header .container div:first-child, footer .container > div:first-child {flex: 1; text-align: left;}
header .container div:last-child, footer .container > div:last-child {flex: 1; text-align: right;}
footer .container > div:first-child:last-child {text-align: center;}
footer {background: rgba(0,0,0,0.03);}
footer, footer > div:last-child a {color: rgba(0,0,0,0.4); text-decoration: none;}
footer .container {padding-top: 3rem; padding-bottom: 3rem;}
footer > div:last-child {border-top: 1px solid rgba(0,0,0,0.075); font-size: 0.9rem;}
footer > div:last-child .container {justify-content: center; padding: 2rem 1rem;}
footer ul.buttons {justify-content: flex-end;}

/*------------------------*/
/* sections general
/*------------------------*/

section {padding: 3.5rem 0;}


/*------------------------*/
/* buttons
/*------------------------*/

.button, button, p > a:first-child:last-child {
    background: black; 
    color: white;
    text-decoration: none;
    padding: 0.7em 1.25em;
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.4rem;
}
.button.icon {
    padding: 0; 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    aspect-ratio: 1;
    width: 2.25rem;
}
.button.icon img {
    width: calc(100% - 1.25em); 
    height: calc(100% - 1.25em);
    filter: invert(1);
}
p > a:first-child:last-child {margin-top: 0.5rem;}




/*----------------- BRICKS -------------------*/




/*------------------------*/
/* brick intro
/*------------------------*/

section.intro {text-align: center; background: white;}
section.intro .container > * {max-width: 45rem; margin-left: auto; margin-right: auto;}
section.intro h1 {margin-bottom: 1.25rem;}
section.intro img {margin: 4rem auto 0; max-width: 38rem;}

/*------------------------*/
/* brick cta
/*------------------------*/

section.cta {background: white;}
section.cta div.text {flex: 2;}
section.cta div.image {flex: 1;} 
section.cta .container > div {
    background: rgba(0,0,0,0.03); 
    padding: 3.5rem clamp(2rem, 5vw, 5rem);
    display: flex;
    align-items: center;
    gap: clamp(2rem, 5vw, 5rem);
    border-radius: 1rem;
}

/*------------------------*/
/* brick image
/*------------------------*/

section.image + section.image + section.image + section.image + section.image,
section.image + section.image + section.image,
section.image {background: rgba(0,0,0,0.02);}
section.image + section.image + section.image + section.image + section.image + section.image,
section.image + section.image + section.image + section.image,
section.image + section.image {background: white;}
section.image + section.image + section.image + section.image + section.image + section.image .container,
section.image + section.image + section.image + section.image .container,
section.image + section.image .container {flex-direction: row-reverse;} 

section.image .container > div.text {flex: 1;}
section.image .container > div.image {flex: 1;} 
section.image .container {
    display: flex;
    align-items: center;
    gap: clamp(2rem, 5vw, 5rem);
}