{{- define "content" -}}
    <div class="container ">
            
        {{/* ToDO  partial "breadcrumbs.html" . */}} 
        <!-- Inspired by Mongz. Blog! :  -->


        {{ .Content }}
        
        <ul class="posts">
            {{ range first 3 .RegularPages }}
                <li>
                    <a href="{{ .RelPermalink }}">
                        <div class="more_overlay"><img src="{{ .Params.image }}" alt="{{ .Title }}" /></div>
                        <div>
                            <h3>{{ .Title }}</h3>
                            <div class="info">{{ .Date | time.Format ":date_long" }}</div>
                            <p>{{ substr .Summary 0 210 }}...</p>
                        </div>
                    </a>
                </li>
            {{ end }}
        </ul>
        <ul class="posts">
            {{ range after 3 .RegularPages }}
                <li style="display: none;">
                    <a href="{{ .RelPermalink }}">
                        <div class="more_overlay"><img data-src="{{ .Params.image }}" alt="{{ .Title }}" /></div>
                        <div>
                            <h3>{{ .Title }}</h3>
                            <div class="info">{{ .Date | time.Format ":date_long" }}</div>
                            <p>{{ substr .Summary 0 210 }}...</p>
                        </div>
                    </a>
                </li>
            {{ end }}
        </ul>
	<!-- ToDo : JS ? -->
        <button onclick="loadmoreposts(this);">Load more posts</button>


       
    </div>

{{- end -}}
