<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>{{ .Site.Title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Summary }}">

    <link rel="canonical" href="{{ .Permalink }}" />

    <link rel="shortcut icon" type="image/png" href="{{ $.Site.Data.general.favicon_image }}">
    <link rel="shortcut icon" sizes="196x196" href="{{ $.Site.Data.general.favicon_image }}">
    <link rel="apple-touch-icon" href="{{ $.Site.Data.general.favicon_image }}">

    <link href="/css/style.css?version={{ now }}" rel="stylesheet">
  </head>
  <body id="top">
    
      {{ block "content" . }}{{ end }}
    

  </body>
</html>