<!DOCTYPE html>
<html lang="nl">
  <head>
    <title>{{ .Title }} | {{ .Site.Data.general.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Summary }}">

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="shortcut icon" href="{{ .Site.Data.general.favicon_image }}">
    
    <link href="/css/style.css?version={{ now }}" rel="stylesheet">
  </head>
  <body id="top">

    <header>
      <div class="container">
        <div>
          {{ partial "logo.html" . }}
        </div>
        <div>
          <nav>
            <ul>
              {{ range .Site.Data.header.menuitems }}
                <li class="{{ if (index .items 0).title }}haschildren{{ end }}"><a href="{{ .link }}">{{ .title }}</a>
                  {{ if (index .items 0).title }}
                  <ul>
                    {{ range .items }}
                      <li><a href="{{ .link }}">{{ .title }}</a></li>
                    {{ end }}
                  </ul>
                  {{ end }}
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
        <div>
          <a href="/get-started/" class="button">Start now</a>
        </div>
    </header>

    {{- block "content" . -}}{{- end -}}
    
    <footer>
      <div>
        <div class="container">
          <div>
            {{ partial "logo.html" . }}
          </div>
          <div>
            <ul>
              {{ range .Site.Data.footer.menuitems }}
                <li><a href="{{ .link }}">{{ .title }}</a></li>
              {{ end }}
            </ul>  
          </div>
          <div>
            <ul class="buttons">
              {{ range .Site.Data.footer.socials }}
                <li><a href="{{ .link }}" class="button icon"><img src="{{ .logo_image }}" alt="{{ .title }}" /></a></li>
              {{ end }}
            </ul>
          </div>
        </div>
      </div>
      <div>
        <div class="container">
          <div>A theme by <a href="https://www.usecue.com/">Usecue BV</a></div>
        </div>
      </div>
    </footer>
  </body>
</html>
