@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');


.encode-sans-expanded-regular {
    font-family: "Encode Sans Expanded", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* Titles */
h1, h2, h3.your-title-class  { 
    font-family: "MuseoModerno", sans-serif;
    font-weight: 600; /* Sample weight - Adjust as needed */
    font-style: normal; 
}

/* Menus */
nav ul li a {
    font-family: "MuseoModerno", sans-serif;
    font-weight: 300; /* Sample weight - Adjust as needed */
    font-style: normal; 
}

:root {
    --fontTitles: 'MuseoModerno', sans-serif;
    --fontBody: 'Encode Sans Expanded', sans-serif;
}