/*------------------------*/
/* preheader
/*------------------------*/

.preheader {background: var(--textDark); font-size: 0.9rem; padding: 0.4rem 0; border-bottom: 0.1rem solid var(--light); font-weight: 500;}
.preheader, .preheader a {color: rgba(255,255,255,0.5);}
.preheader .container {display: flex; justify-content: space-between;}
.preheader .container a.icon {text-decoration: none; margin-right: 2rem;}
.preheader .container a.icon img {
    height: 0.8em; 
    display: inline-block; 
    vertical-align: middle;
    margin-right: 0.2rem;
    position: relative;
    bottom: 0.1em;
    filter: invert(1);
}
body.transparent_header .preheader, body.transparent_header .preheader a {color: white;}
body.transparent_header .preheader .container a.icon img {filter: invert(1)!important;}
body:not(.transparent_header) .preheader.light {background: var(--light); font-weight: normal;}
body.transparent_header .preheader {background: transparent; position: absolute; width: 100%; z-index: 2; border-bottom: 0.1rem solid rgba(255,255,255,0.25);}
body:not(.transparent_header) .preheader.light, body:not(.transparent_header) .preheader.light a {color: var(--textMedium);}
body:not(.transparent_header) .preheader.light .container a.icon img {filter: invert(0);}
@media (max-width: 600px) {
    .preheader .container {justify-content: center;}
    .preheader .container .icons {display: none;}
}

/*------------------------*/
/* header
/*------------------------*/

@keyframes slidedown {
    from {transform: translateY(-7rem);}
    to {transform: translateY(0);}
}
header {position: absolute; background: white; z-index: 9; width: 100%;}
body.transparent_header header {padding-top: 2.35rem;}
header > .container {padding-top: 1.5rem; padding-bottom: 1.5rem; position: relative;}
header.sticky {box-shadow: 0 0 0.5rem rgba(0,0,0,0.1); background: white; position: fixed; top: 0; padding-top: 0!important;}
body:not(.mobilemenu) header.sticky  {animation: slidedown 1s ease-in-out;}
header.sticky > .container {padding-top: 0.75rem; padding-bottom: 0.75rem;}
header a {text-decoration: none;}
header ul {display: flex; justify-content: flex-end; gap: 2rem; margin: 0;}
header ul li {list-style: none; position: relative;}
header .navnav > ul > li a {color: var(--textMedium); padding: 0.80rem 0 0.65rem 0; display: block; white-space: nowrap;}
header .navnav > ul > li > a {color: var(--textDarker);}
footer ul li a:not(.button)::after,
header .navnav > ul > li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.6rem;
    width: 100%;
    height: 0.05rem;
    background-color: var(--textDark);
    transform: scaleX(0);
    transition: transform 0.15s ease-in-out;
}
footer ul li a:after {background: var(--textMedium); opacity: 0.75;}
footer ul li a:hover:after,
header .navnav > ul:nth-child(2) {display: none;}
header .navnav:not(.languages) > ul > li:hover::after,
header .navnav:not(.languages) > ul > li:has(li.active)::after,
header .navnav:not(.languages) > ul > li.active::after {transform: scaleX(1);}
header .navnav > ul > li > ul {
    opacity: 0;
    transform: translateY(0.25rem);
    position: absolute;
    box-shadow: 0px 0px 1.5rem rgba(0,0,0,0.15);
    margin-left: -1rem;
    background: white;
    border-radius: 0.4rem;
    text-align: left;
    padding: 0.75rem 0 0.85rem;
    z-index: 99;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
    display: block;
    font-size: 0.95rem;
}
header .navnav > ul > li > ul li a {padding: 0.3rem 2rem 0.3rem 1rem; font-weight: normal;}
header .navnav > ul > li > ul li a:hover,
header .navnav > ul > li > ul li.active a {color: var(--textDarker);}
header .navnav > ul > li > ul li.active a {font-weight: bold; font-size: 1rem; color: var(--textDark);}
header .navnav > ul > li:hover > ul {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
header .navnav > ul > li.haschildren > a::after {
    content:""; 
    width: 0.3rem; 
    height: 0.3rem; 
    border: 0.1rem solid var(--textDarker); 
    border-left: 0; 
    border-top: 0;
    margin-left: 0.4rem;
    position: relative;
    bottom: 0.19rem;
    display: inline-block;
    transform: rotate(45deg);
}

header > .container {display: flex; align-items: center;}
header > .container > div {flex: 3; text-align: center;}
header > .container > div:first-child {flex: 1; text-align: left;}
header > .container.has_cta > div:nth-child(3) {flex: 1; text-align: right;}
header > .container.has_cta ul {justify-content: center;}
header + section.hasbackgroundcolor {margin-top: 0;}
header + section:not(.bgimage) {padding-top: 11rem!important;}
body.transparent_header header + section.bgimage .container {padding-top: 13.5rem!important;}
body:not(.transparent_header) header + section.bgimage .container {padding-top: 11.5rem!important;}
body:not(.transparent_header) header + section.bgimage .container h1:first-child {padding-top: 0.5rem;}
header .languages {display: inline-block; margin-right: 0.75rem;}
body.mobilemenu header .navnav {display: flex; flex-direction: column; justify-content: space-between;}
body.mobilemenu header .navnav.languages {display: none;}

header.dark {background: var(--textDarker);}
body.transparent_header header:not(.sticky) {background: transparent;}
header.dark a.logo, body.transparent_header header:not(.sticky) a.logo,
header.dark .navnav > ul > li > a, body.transparent_header header:not(.sticky) .navnav > ul > li > a {color: white;}
header.dark .navnav > ul > li::after, body.transparent_header header:not(.sticky) .navnav > ul > li::after {background: white;}
body.mobilemenu header .navnav > ul > li.haschildren > a::after,
header.dark .navnav > ul > li.haschildren > a::after, 
body.transparent_header header:not(.sticky) .navnav > ul > li.haschildren > a::after {border-color: white;}
header.dark #togglemenu span,
header.dark a.logo > div img.inline,
body.transparent_header header:not(.sticky) #togglemenu span,
body.transparent_header header:not(.sticky) a.logo > div img.inline {filter: invert(1)!important;}
header.dark + section.bgimage,
body.transparent_header header + section.bgimage {padding-top: 0!important;}
header .navnav.languages {margin-right: 1rem;}
header .navnav.languages > ul > li > a {font-size: 0.9rem;}

/*------------------------*/
/* footer
/*------------------------*/

footer {background: var(--light); margin-top: 4rem; border-top: 0.1rem solid var(--light);}
footer a {text-decoration: none;}
footer .logo > div.has_subtitle {padding-bottom: 0.5rem;}
footer ul {display: flex; justify-content: center; gap: 0 2rem; margin: 0; flex-wrap: wrap;}
footer ul li {list-style: none; position: relative;}
footer ul li a {color: var(--textMedium); padding: 0.5rem 0; display: block;}
footer .container {display: flex; align-items: center;}
footer .container > div {flex: 3; text-align: center;}
footer .container > div:first-child {flex: 1; text-align: left;}
footer .container > div:last-child {flex: 1; text-align: right;}
footer .container > div:first-child:last-child {text-align: center;}
footer, footer > div:last-child a {color: var(--textMedium); text-decoration: none;}
footer .container {padding-top: 3rem; padding-bottom: 3rem;}
footer > div:last-child {border-top: 1px solid var(--borderLight); font-size: 0.9rem;}
footer > div:last-child .container {justify-content: center; padding-top: 1.7rem; padding-bottom: 1.75rem;}
footer ul.buttons {justify-content: flex-end; padding: 0;}
footer select {padding: 0; border: 0; background: transparent; border-radius: 0; color: var(--textMedium); font-size: 0.9rem;}
footer select option:not([disabled]) {color: initial;}
@media (max-width: 1000px) {
    footer .container {flex-direction: column; gap: 1rem; align-items: center;}
    footer ul {margin: 0.25rem 0 0.5rem;}
}

footer.dark {background: var(--textDark);}
footer.dark a.logo {color: white;}
footer.dark > div:last-child {border-top: 1px solid rgba(255,255,255,0.1);}
footer.dark select, footer.dark, footer.dark > div:last-child a, footer.dark ul li a {color: rgba(255,255,255,0.5);}
footer.dark ul.buttons.social .button {background: var(--accent);}
footer.dark a.logo img.inline {filter: invert(1)!important;}
footer.dark ul li a:not(.button)::after {background: rgba(255,255,255,0.5);}

/*------------------------*/
/* mobile menu
/*------------------------*/

#togglemenu {
    display: none; 
    border: 0; 
    color: transparent; 
    overflow: hidden; 
    width: 3rem; 
    height: 3rem; 
    vertical-align: middle; 
    margin-right: -0.75rem;
    box-shadow: none!important;
    right: clamp(1rem,4vw,3rem); 
    transition: none;
    position: absolute;
    background: none;
    padding: 0;
}
#togglemenu span {display: block; width: 100%; height: 100%; background: transparent url(/img/menu.svg) center center / 2rem auto no-repeat;}
body.mobilemenu #togglemenu {display: block;}
body.mobilemenu header.sticky + #togglemenu {position: fixed; top: 0.75rem; margin-top: 0;}
body.mobilemenu header .nav {display: grid; transition: grid-template-rows 0.3s ease-in-out;}
body.mobilemenu header > div.container {display: grid; grid-template-areas: "logo cta" "menu menu";}
body.mobilemenu header > div.container > div:nth-child(1) {grid-area: logo;}
body.mobilemenu header > div.container > div.nav {
    grid-area: menu; 
    position: fixed;
    background: var(--textDark);
    color: white;
    transform: translateX(100%);
    width: 100%;
    right: 0;
    max-width: 20rem;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}
body.mobilemenu header > div.container > div:nth-child(3) {grid-area: cta;}
body.mobilemenu header > .container.has_cta > div:nth-child(3) .button {margin-right: 3rem;}
body.mobilemenu header .navnav > ul {flex-direction: column; gap: 0rem; text-align: left; margin: 2.5rem 0 4rem 0;}
body.mobilemenu.menushown header .navnav > ul:nth-child(2) {margin-bottom: 2rem; display: block;}
body.mobilemenu header .navnav > ul > li::after {content: none;}
body.mobilemenu header .navnav > ul > li > ul {
    position: relative; 
    box-shadow: none; 
    margin: 0; 
    padding: 0; 
    text-align: left;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    background: transparent;
    border-radius: 0;
}
body.mobilemenu header .navnav > ul li.active > a {color: var(--accent)!important; font-weight: bold; font-size: 1.25rem;}
body.mobilemenu header .navnav > ul > li.active.haschildren > a::after {border-color: var(--accent);}
body.mobilemenu header .navnav > ul > li a {padding: 0.45rem 2.5rem 0.45rem 3rem; font-size: 1.15rem;;}
body.mobilemenu header .navnav > ul > li > ul > li:last-child {margin-bottom: 0.5rem;}
body.mobilemenu header .navnav > ul > li > ul {max-height: 0px; height: 0; overflow: hidden; transition: max-height 0.5s ease-in;}
body.mobilemenu header .navnav > ul > li.active ul,
body.mobilemenu header .navnav > ul > li:has(.active) ul {max-height: 700px; height: auto;}
body.mobilemenu header .navnav > ul > li > ul li a {padding: 0.5rem 2rem 0.5rem 5rem;}

/*------------------------*/
/* menu shown
/*------------------------*/

body.mobilemenu.menushown header > div.container > div.nav {transform: translateX(0%); box-shadow: 0 0 0.5rem rgba(0,0,0,0.3);}
body.mobilemenu.menushown header > div.container::before {content: ""; position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 2;}
body.mobilemenu.menushown header .navnav > ul > li a {color: white;}

@media (max-width: 450px) {
    header .button {display: none;}
}