/*------------------------*/
/* preheader
/*------------------------*/

.preheader {background: var(--textDark); font-size: 0.9rem; padding: 0.4rem 0; border-bottom: 0.1rem solid var(--light); font-weight: 600;}
.preheader, .preheader a {color: white;}
.preheader .container {display: flex; justify-content: space-between;}
.preheader .container a.icon {text-decoration: none; margin-right: 2rem;}
.preheader .container a.icon img {
    height: 0.8em; 
    display: inline-block; 
    vertical-align: middle;
    margin-right: 0.2rem;
    position: relative;
    bottom: 0.1em;
    filter: invert(1);
}
.preheader.light {background: var(--light); font-weight: normal;}
.preheader.light, .preheader.light a {color: var(--textMedium);}
.preheader.light .container a.icon img {filter: invert(0);}
@media (max-width: 600px) {
    .preheader .container {justify-content: center;}
    .preheader .container .icons {display: none;}
}

/*------------------------*/
/* header
/*------------------------*/

header {position: absolute; background: white; z-index: 9; width: 100%;}
header > .container {padding-top: 1.5rem; padding-bottom: 1.5rem; position: relative;}
header.sticky {box-shadow: 0 0 0.5rem rgba(0,0,0,0.1); background: white; position: fixed; top: 0;}
header.sticky > .container {padding-top: 0.75rem; padding-bottom: 0.75rem;}
header a {text-decoration: none;}
header ul {display: flex; justify-content: flex-end; gap: 2rem; margin: 0;}
header ul li {list-style: none; position: relative;}
header nav > ul > li a {font-weight: bold; color: var(--textDark); padding: 0.80rem 0 0.65rem 0; display: block; white-space: nowrap;}
header nav > ul > li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.6rem;
    width: 100%;
    height: 0.05rem;
    background-color: var(--textDark);
    transform: scaleX(0);
    transition: transform 0.15s ease-in-out;
}
header nav > ul > li:hover::after,
header nav > ul > li.active::after {transform: scaleX(1);}
header nav > ul > li > ul {
    opacity: 0;
    transform: translateY(0.25rem);
    position: absolute;
    box-shadow: 0px 0px 1.5rem rgba(0,0,0,0.15);
    margin-left: -1rem;
    background: white;
    border-radius: 0.4rem;
    text-align: left;
    padding: 0.75rem 0 0.85rem;
    z-index: 99;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
    display: block;
    font-size: 0.95rem;
}
header nav > ul > li > ul li a {padding: 0.3rem 2rem 0.3rem 1rem; font-weight: normal;}
header nav > ul > li:hover > ul {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
header nav > ul > li.haschildren > a::after {
    content:""; 
    width: 0.3rem; 
    height: 0.3rem; 
    border: 0.15rem solid var(--textDark); 
    border-left: 0; 
    border-top: 0;
    margin-left: 0.4rem;
    position: relative;
    bottom: 0.19rem;
    display: inline-block;
    transform: rotate(45deg);
}

header > .container {display: flex; align-items: center;}
header > .container > div {flex: 3; text-align: center;}
header > .container > div:first-child {flex: 1; text-align: left;}
header > .container.has_cta > div:nth-child(3) {flex: 1; text-align: right;}
header > .container.has_cta ul {justify-content: center;}
header + section.hasbackgroundcolor {margin-top: 0;}
header + section:not(.bgimage),
body.transparent_header header + section.bgimage .container {padding-top: 11rem!important;}
body:not(.transparent_header) header + section.bgimage .container {padding-top: 13.5rem!important;}

body.transparent_header header:not(.sticky) {background: transparent;}
body.transparent_header header:not(.sticky) a.logo,
body.transparent_header header:not(.sticky) nav > ul > li > a {color: white;}
body.transparent_header header:not(.sticky) nav > ul > li::after {background: white;}
body.transparent_header header:not(.sticky) nav > ul > li.haschildren > a::after {border-color: white;}
body.transparent_header header:not(.sticky) #togglemenu,
body.transparent_header header:not(.sticky) a.logo > div img.inline {filter: invert(1)!important;}
body.transparent_header header + section.bgimage {padding-top: 0!important;}
body.transparent_header header:not(.sticky) .button {background: var(--accent); color: white;}

/*------------------------*/
/* footer
/*------------------------*/

footer {background: var(--light); margin-top: 4rem; border-top: 0.1rem solid var(--light);}
footer a {text-decoration: none;}
footer .logo > div.has_subtitle {padding-bottom: 0.5rem;}
footer ul {display: flex; justify-content: center; gap: 0 2rem; margin: 0; flex-wrap: wrap;}
footer ul li {list-style: none; position: relative;}
footer ul li a {color: var(--textMedium); padding: 0.5rem 0; display: block;}
footer .container {display: flex; align-items: center;}
footer .container > div {flex: 3; text-align: center;}
footer .container > div:first-child {flex: 1; text-align: left;}
footer .container > div:last-child {flex: 1; text-align: right;}
footer .container > div:first-child:last-child {text-align: center;}
footer, footer > div:last-child a {color: var(--textMedium); text-decoration: none;}
footer .container {padding-top: 3rem; padding-bottom: 3rem;}
footer > div:last-child {border-top: 1px solid var(--borderLight); font-size: 0.9rem;}
footer > div:last-child .container {justify-content: center; padding-top: 1.7rem; padding-bottom: 1.75rem;}
footer ul.buttons {justify-content: flex-end; padding: 0;}
@media (max-width: 1000px) {
    footer .container {flex-direction: column; gap: 1rem; align-items: center;}
    footer ul {margin: 0.25rem 0 0.5rem;}
}

footer.dark {background: var(--textDark);}
footer.dark a.logo {color: white;}
footer.dark > div:last-child {border-top: 1px solid rgba(255,255,255,0.1);}
footer.dark, footer.dark > div:last-child a, footer.dark ul li a {color: rgba(255,255,255,0.5);}
footer.dark ul.buttons.social .button {background: var(--accent);}
footer.dark a.logo img.inline {filter: invert(1)!important;}

/*------------------------*/
/* mobile menu
/*------------------------*/

#togglemenu {
    display: none; 
    background: transparent url(/img/menu.svg) center center / 2rem auto no-repeat; 
    border: 0; 
    color: transparent; 
    overflow: hidden; 
    width: 3rem; 
    height: 3rem; 
    vertical-align: middle; 
    margin-right: -0.75rem;
    box-shadow: none!important;
    right: clamp(1rem,4vw,3rem); 
    transition: none;
    position: absolute;
}
body.mobilemenu #togglemenu {display: block; transition: top 0.15s ease-in-out;}
body.mobilemenu header.sticky + #togglemenu {position: fixed; top: 0.75rem; margin-top: 0;}
body.mobilemenu header .nav {display: grid; transition: grid-template-rows 0.3s ease-in-out;}
body.mobilemenu header > div.container {display: grid; grid-template-areas: "logo cta" "menu menu";}
body.mobilemenu header > div.container > div:nth-child(1) {grid-area: logo;}
body.mobilemenu header > div.container > div:nth-child(2) {
    grid-area: menu; 
    position: fixed;
    background: var(--textDark);
    color: white;
    transform: translateX(100%);
    width: 100%;
    right: 0;
    max-width: 20rem;
    transition: all 0.2s ease-in-out;
    z-index: 2;
    top: 0;
    height: 100vh;
    overflow-y: auto;
}
body.mobilemenu header > div.container > div:nth-child(3) {grid-area: cta;}
body.mobilemenu header > .container.has_cta > div:nth-child(3) .button {margin-right: 3rem;}
body.mobilemenu header nav > ul {flex-direction: column; gap: 0rem; text-align: left; margin: 3.85rem 0 4.5rem 0;}
body.mobilemenu header nav > ul > li::after {content: none;}
body.mobilemenu header nav > ul > li > ul {
    position: relative; 
    box-shadow: none; 
    margin: 0; 
    padding: 0; 
    text-align: left;
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    background: transparent;
    border-radius: 0;
}
body.mobilemenu header nav > ul > li a {padding: 0.5rem 2.5rem 0.5rem 3rem; font-size: 1.15rem;}
body.mobilemenu header nav > ul > li > ul li a {padding: 0.5rem 2rem 0.5rem 5rem;}

/*------------------------*/
/* menu shown
/*------------------------*/

body.mobilemenu.menushown #togglemenu {
    background: transparent url(/img/close.svg) center center / 2rem auto no-repeat; 
    z-index: 10; 
    position: fixed; 
    top: 1.5rem;
    filter: invert(1);
}
body.mobilemenu.menushown .preheader + header #togglemenu {top: 3.75rem;}
body.mobilemenu.menushown header.sticky #togglemenu {top: 0.75rem;}
body.mobilemenu.menushown header > div.container > div:nth-child(2) {transform: translateX(0%);}
body.mobilemenu.menushown header nav > ul > li a {color: white;}

@media (max-width: 450px) {
    header .button {display: none;}
}