
:root {
    --textDark: rgba(38, 50, 56, 1);
    --textMedium: rgba(38, 50, 56, 0.7);
    --textLight: rgba(38, 50, 56, 0.4);
    --borderMedium: rgba(38, 50, 56, 0.2); 
    --borderLight: rgba(38, 50, 56, 0.075);
    --accent: #f4b500;
    --light: rgba(38, 50, 56, 0.035);
}
img {filter: grayscale(0);}
ul.reviews li div.box .avatar {filter: contrast(1) sepia(1) hue-rotate(160deg) grayscale(0.75);}
ul.features li.has_icon p.image img,
ul.reviews li div.box .quote,
div.map::after,
a.logo > div img.inline {filter: contrast(0.7) sepia(1) hue-rotate(160deg);}
.preheader.light .container a.icon img {filter: contrast(0.3) sepia(0.3) hue-rotate(160deg) brightness(1.4);}
section.about .container p img {filter: brightness(0.88) sepia(1) hue-rotate(160deg) grayscale(0.9);}
ul.features li.has_icon p.image img,
ul.reviews li div.box .stars img {filter: contrast(0.1) sepia(1) hue-rotate(340deg) contrast(10);}