:root {
    --blue: #1e90ff;
    --white: #ffffff;
}
@font-face {
    font-display: swap;
    font-family: 'Signika';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/signika-v20-latin-700.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/heebo-v21-latin-regular.woff2') format('woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 600;
    src: url('/fonts/heebo-v21-latin-600.woff2') format('woff2');
}
  

* {padding: 0; margin: 0; box-sizing: border-box;}
html {font-size: clamp(14px, 2vw, 16px); line-height: 1.7; height: 100%; scroll-behavior: smooth;}
body {font-family: 'Heebo', sans-serif; font-size: 1rem; color: rgba(0,0,0,0.7);}
.container {margin: 0 auto; max-width: 84rem; padding: 0 clamp(1rem,4vw,3rem);}
img {max-width: 100%; display: block;}
a {color: rgba(0,0,0,0.7);}
h1, h2, a.logo {font-family: 'Signika', sans-serif; line-height: 1.2; font-size: 2.4rem; color: black;}
h1 {font-size: 3rem; margin-bottom: 1.75rem;}
h2 {margin-top: 3.5rem; margin-bottom: 1.25rem;}
h2:first-child {margin-top: 0;}
h3 {color: black; line-height: 1.25; font-size: 1.25rem; margin-bottom: 0.4rem; padding-top: 1rem;}
p, ul, ol, .box.map {margin-bottom: 1.7em;}
ul {margin-left: 1rem;}
ol {margin-left: 2rem;}
hr {margin: 3.5rem 0; height: 1px; background: rgba(0,0,0,0.1); border: 0;}
p > img {border-radius: 1rem; overflow: hidden;}


/*------------------------*/
/* logo
/*------------------------*/

a.logo {font-size: 1.8rem; font-weight: bold; text-decoration: none; color: black;}
a.logo img.inline {height: 2rem; position: relative; top: 0.1rem;}
a.logo > div {display: flex; gap: 0.5rem; align-items: center;}
a.logo > div > div span {display: block;}
a.logo > div.has_subtitle {gap: 0.9rem;}
a.logo > div.has_subtitle img.inline {height: 2.6rem;}
a.logo > div.has_subtitle > div span:nth-child(1) {line-height: 1.2;}
a.logo > div.has_subtitle > div span:nth-child(2) {font-family: 'Heebo', sans-serif; font-size: 0.75rem; font-weight: normal;}

/*------------------------*/
/* preheader
/*------------------------*/

.preheader {background: black; font-size: 0.9rem; padding: 0.4rem 0; border-bottom: 0.1rem solid rgba(0,0,0,0.07); font-weight: 600;}
.preheader, .preheader a {color: white;}
.preheader .container {display: flex; justify-content: space-between;}
.preheader .container a.icon {text-decoration: none; margin-right: 2rem;}
.preheader .container a.icon img {
    height: 0.7em; 
    display: inline-block; 
    vertical-align: middle;
    margin-right: 0.35rem;
    position: relative;
    bottom: 0.1em;
    filter: invert(1);
}
.preheader + header {padding: 1.35rem 0;}
@media (max-width: 600px) {
    .preheader .container {justify-content: center;}
    .preheader .container .icons {display: none;}
}


/*------------------------*/
/* header
/*------------------------*/

header {position: sticky; top: 0; background: white; z-index: 9;}
header > .container {padding-top: 1.5rem; padding-bottom: 1.5rem; transition: all 0.25s ease-in-out;}
header.sticky {box-shadow: 0 0 0.5rem rgba(0,0,0,0.1); background: white;}
header.sticky > .container {padding-top: 0.75rem; padding-bottom: 0.75rem;}
header a {text-decoration: none;}
header ul, footer ul {display: flex; justify-content: center; gap: 2rem; margin: 0;}
header ul li, footer ul li {list-style: none;}
header nav > ul > li a {font-weight: bold; color: black; padding: 0.80rem 0 0.65rem 0; display: block;}
header nav > ul > li > ul {
    opacity: 0;
    transform: translateY(0.25rem);
    position: absolute;
    box-shadow: 0px 0px 1.5rem rgba(0,0,0,0.1);
    margin-left: -1rem;
    background: white;
    border-radius: 0.4rem;
    text-align: left;
    padding: 0.75rem 0 0.85rem;
    z-index: 99;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
    display: block;
    font-size: 0.95rem;
}
header nav > ul > li > ul li a {padding: 0.3rem 2rem 0.3rem 1rem; font-weight: normal;}
header nav > ul > li:hover > ul {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
header nav > ul > li.haschildren > a::after {
    content:""; 
    width: 0.3rem; 
    height: 0.3rem; 
    border: 0.15rem solid black; 
    border-left: 0; 
    border-top: 0;
    margin-left: 0.4rem;
    position: relative;
    bottom: 0.19rem;
    display: inline-block;
    transform: rotate(45deg);
}
header > .container, footer .container {display: flex; align-items: center;}
header > .container > div, footer .container > div {flex: 3; text-align: center;}
header > .container > div:first-child, footer .container > div:first-child {flex: 1; text-align: left;}
header > .container > div:last-child, footer .container > div:last-child {flex: 1; text-align: right;}

/*------------------------*/
/* footer
/*------------------------*/

footer {background: rgba(0,0,0,0.03); margin-top: 2rem; border-top: 0.1rem solid rgba(0,0,0,0.02);}
footer a {text-decoration: none;}
footer .logo > div.has_subtitle {padding-bottom: 0.5rem;}
footer ul li a {color: rgba(0,0,0,0.7)}
footer .container > div:first-child:last-child {text-align: center;}
footer, footer > div:last-child a {color: rgba(0,0,0,0.4); text-decoration: none;}
footer .container {padding-top: 3rem; padding-bottom: 3rem;}
footer > div:last-child {border-top: 1px solid rgba(0,0,0,0.075); font-size: 0.9rem;}
footer > div:last-child .container {justify-content: center; padding-top: 1.7rem; padding-bottom: 1.75rem;}
footer ul.buttons {justify-content: flex-end; padding: 0;}
@media (max-width: 1000px) {
    footer .container {flex-direction: column; gap: 1rem; align-items: center;}
    footer ul {margin: 0.25rem 0 0.5rem;}
}

/*------------------------*/
/* toggle menu
/*------------------------*/

#togglemenu {
    display: none; 
    background: transparent url(/img/menu.svg) center center / 2rem auto no-repeat; 
    border: 0; 
    color: transparent; 
    overflow: hidden; 
    width: 3rem; 
    height: 3rem; 
    vertical-align: middle; 
    margin-left: 0.75rem;
    margin-right: -0.75rem;
}
@media (max-width: 1000px) {
    #togglemenu {display: inline-block; cursor: pointer;}
    .menushown #togglemenu {background: transparent url(/img/close.svg) center center / 2rem auto no-repeat;}
    header {margin-bottom: 2rem;}
    header .nav {display: grid; grid-template-rows: 0fr; transition: grid-template-rows 0.3s ease-in-out;}
    header .nav nav {overflow: hidden; display: flex; opacity: 0; transform: scaleY(0); transition: all 0.3s ease-in-out;}
    .menushown header {box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);}
    .menushown header .nav {grid-template-rows: 1fr;}
    .menushown header .nav nav {opacity: 1; transform: scaleY(1);}
    header > div.container {display: grid; grid-template-areas: "logo cta" "menu menu";}
    header > div.container > div:nth-child(1) {grid-area: logo;}
    header > div.container > div:nth-child(2) {grid-area: menu;}
    header > div.container > div:nth-child(3) {grid-area: cta;}
    header nav > ul {flex-direction: column; gap: 0rem; text-align: left; margin: 1rem 0;}
    header nav > ul > li {break-inside: avoid-column;}
    header nav > ul > li a, header nav > ul > li > ul li a {padding: 0.5rem 1rem;}
    header nav > ul > li > ul {
        position: relative; 
        box-shadow: none; 
        margin: 0 0 0 2rem; 
        padding: 0; 
        text-align: left;
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }
}
@media (max-width: 600px) {
    header nav > ul > li a, header nav > ul > li > ul li a {padding: 0.5rem 1rem;}
}
@media (max-width: 400px) {
    header .button {display: none;}
}

/*------------------------*/
/* sections general
/*------------------------*/

section, section.image.alt {padding: 4.5rem 0 5.5rem;}
section .twocols {display: grid; grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); grid-gap: 5.5rem clamp(2rem, 5vw, 5rem);}
section .twocols > div {display: flex; flex-direction: column; justify-content: center;}
section .container.small > * {text-align: center; max-width: 40rem; margin-left: auto; margin-right: auto;}
section.hasbackgroundcolor {padding: 0; margin-top: 2rem;}
section.hasbackgroundcolor + section.hasbackgroundcolor {padding-top: 3.5rem;}
section :last-child {margin-bottom: 0;}
section:not(.hasbackgroundcolor) + section:not(.hasbackgroundcolor) {padding-top: 2rem;}
section.hasbackgroundcolor + footer {margin-top: 7.5rem;}
section.stickstofooter + footer {margin-top: 0;}

/*------------------------*/
/* box
/*------------------------*/

div.box {background: rgba(0,0,0,0.03); border: 0.1rem solid rgba(0,0,0,0.02); padding: 3.5rem clamp(2rem, 5vw, 5rem); border-radius: 1rem; position: relative;}
div.box:not(:last-child) {margin-bottom: 1.7em;}
div.box p img {border-radius: 0;}

/*------------------------*/
/* map
/*------------------------*/

div.map {aspect-ratio: 2.25; width: 100%; border-radius: 1rem;}
div.map {position: relative; background-position: center calc(50% + 2rem); background-repeat: repeat;}
div.map::after {
    content: ""; 
    width: 100%; 
    height: 100%; 
    background: url(/img/marker.svg) center center / auto 4rem no-repeat; 
    left: 0; 
    top: 0;
    position: absolute;
    display: block;
}

/*------------------------*/
/* image
/*------------------------*/

div:not(.box) > .image {padding: 0 2rem;}
div:not(.box) > .image img {border-radius: 0; max-width: calc(100% - 2rem);}
@media (max-width: 600px) {
    div:not(.box) > .image {padding: 0;}
    div:not(.box) > .image img {max-width: 100%;}
}

/*------------------------*/
/* forms
/*------------------------*/

form > div {display: flex; flex-direction: column; gap: 0.25rem; margin-bottom: 1rem;}
form > div.radio + div.radio {margin-top: -1rem;}
input, textarea, select {
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    padding: 0.5em 0.5em;
    border: 1px solid rgba(0,0,0,0.2);
    color: black;
    border-radius: 0.25rem;
}
textarea {resize: vertical; height: 9rem;}
input[type="checkbox"], input[type="radio"] {margin-right: 0.5rem;} 
form > div.submit {padding-top: 0.5rem;}

/*------------------------*/
/* buttons
/*------------------------*/

.button, button {
    background: black; 
    color: white;
    text-decoration: none;
    padding: 0.7em 1.25em;
    font-weight: bold;
    display: inline-block;
    font-size: 1rem;
    border-radius: 0.4rem;
    border: 0;
}
.button.icon {
    padding: 0; 
    position: relative; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    aspect-ratio: 1;
    width: 2.25rem;
}
.button.icon img {
    width: calc(100% - 1.25em); 
    height: calc(100% - 1.25em);
    filter: invert(1);
}
.button.ghost {background: none; color: black; box-shadow: inset 0 0 0 0.1rem black;}
.button.smaller {padding: 0.4rem 1rem;}
p > .button {margin: 0.5rem 0;}
ul.buttons {gap: 1rem; margin-left: 0; display: flex; padding: 0.5rem 0;}
ul.buttons li {list-style: none;}


/*------------------------*/
/* grid
/*------------------------*/

ul.grid {display: grid; grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); grid-gap: 1.5rem; margin: 0;}
ul.grid li {list-style: none; position: relative;}

/*------------------------*/
/* reviews
/*------------------------*/

ul.reviews li div.box {display: flex; flex-direction: column-reverse; padding: 2.25rem 2rem; height: 100%; justify-content: space-between;}
ul.reviews li div.box .avatar {height: 3.25rem; width: 3.25rem; border-radius: 100%; object-fit: cover; filter: grayscale(100%);}
ul.reviews li div.box h3 {margin: 0; line-height: 1.45; font-size: 1.25rem; padding: 0;}
ul.reviews li div.box .function {color: black; line-height: 1.45;}
ul.reviews li div.box .quote + p {margin-bottom: 2.5rem;}
ul.reviews li div.box .quote {margin-bottom: 2rem; height: 1.25rem;}
ul.reviews li div.box > div:nth-child(1) {display: flex; gap: 1rem; align-items: center;}

/*------------------------*/
/* features
/*------------------------*/

ul.features {gap: 4rem 3rem;}
ul.features li {text-align: center;}
ul.features li img {aspect-ratio: 1.5; object-fit: contain; width: 100%;}
ul.features li p.image {margin-bottom: 1rem;}
ul.features li p.image + h3 {padding-top: 0;}
ul.features li.has_icon p.image {display: inline-block; background: rgba(0,0,0,0.03); padding: 1.5rem; border-radius: 100%; border: 0.1rem solid rgba(0,0,0,0.02);}
ul.features li.has_icon p.image img {aspect-ratio: 1; object-fit: contain; width: 3rem; margin: 0 auto; border-radius: 0;}

/*----------------- BRICKS -------------------*/

/*------------------------*/
/* brick about
/*------------------------*/

section.about .container p img {display: inline-block; border-radius: 100%; overflow: hidden;}
section.about .container h1 {margin-top: -1rem; font-size: 2.4rem;}
section.about .container .buttons {justify-content: center;}

/*------------------------*/
/* brick intro
/*------------------------*/

section.intro {text-align: center; background: white;}
section.intro img {margin: 3rem auto 0.5rem; width: 38rem;}

/*------------------------*/
/* brick cta
/*------------------------*/

section.cta {background: white;}
section.cta .twocols {display: flex;}
section.cta .twocols .text {flex: 2;}
section.cta .twocols .image {flex: 1;}
section.cta .twocols .image img {display: inline-block; width: 20rem;}
@media (max-width: 600px) {
    section.cta .twocols {flex-direction: column;}
    section.cta .twocols .image {text-align: left; display: none;}
}

/*------------------------*/
/* brick image
/*------------------------*/

section.image.alt {background: rgba(0,0,0,0.03); border-top: 0.1rem solid rgba(0,0,0,0.02); border-bottom: 0.1rem solid rgba(0,0,0,0.02);}
section.image.alt .container {direction: rtl;}
section.image.alt .container > div {direction: ltr;}
section.image .twocols .image {text-align: center;}
section.image .twocols .image img {width: auto; display: inline-block; width: 29rem}
@media (max-width: 600px) {
    section.image .twocols .image {text-align: left;}
}

/*------------------------*/
/* brick contact
/*------------------------*/

section.contact .twocols {align-items: flex-start;}

/*------------------------*/
/* brick title
/*------------------------*/

section.title {padding-bottom: 3.25rem;}

/*------------------------*/
/* brick wide
/*------------------------*/

section.wide {max-width: 60rem; margin-left: auto; margin-right: auto;}

/*------------------------*/
/* brick map
/*------------------------*/
section.map div.map {padding: 3rem 0; aspect-ratio: auto;}
section.map div.map > .container {display: flex; justify-content: flex-end;}
section.map div.map > .container > div {background: white; padding: 2.5rem 3rem 2.5rem; border-radius: 1rem; position: relative; z-index: 2; min-width: 22rem;} 
section.map div.map .overlay {position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1;}
@media (max-width: 55rem) {
    section.map div.map > .container {justify-content: center;}
}

/*------------------------*/
/* brick 404
/*------------------------*/

section.error404 > .container p:first-child > img {margin-top: -1rem;}
section.error404 > .container h1 {font-size: 2.4rem;}

/*------------------------*/
/* brick reviews
/*------------------------*/

section.reviews .container.small {margin-bottom: 5.25rem;}


/*------------------------*/
/* brick features
/*------------------------*/

section.features .container.small {margin-bottom: 4.75rem;}