<ul class="buttons">
    {{- if .Site.Data.header.contact.phone -}}
        <li><a href="tel:{{ replace .Site.Data.header.contact.phone " " "" }}" class="button icon"><img src="/img/phone.svg" alt="{{ .Site.Data.header.contact.phone }}" /></a></li>
    {{- end -}}
    {{- if .Site.Data.header.contact.phone -}}
        <li><a href="mailto:{{ .Site.Data.header.contact.email }}" class="button icon"><img src="/img/email.svg" alt="{{ .Site.Data.header.contact.email }}" /></a></li>
    {{- end -}}
</ul>