
{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty brick found. Consider creating a 'content/bricks/wide.md' file." -}}
    {{- with page.Site.GetPage "bricks/wide.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}
<section class="docs">
    <div class="container">
        <div class="menu">
            <h3>Documentation</h3>
            {{ partial "nested-menu.html" }}
        </div>
        <div class="content">
            {{ partial "breadcrumbs.html" }}
            <h1>{{ page.Title }}</h1>
            {{- markdownify $inner -}}
        </div>
    </div>
</section>