
{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty brick found. Consider creating a 'content/bricks/cta.md' file." -}}
    {{- with page.Site.GetPage "bricks/cta.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}
{{- $inner = markdownify $inner -}}
{{- $image := index (findRE `(?s)<p><img.*?p>` $inner 1) 0 -}}
{{- $inner = replace $inner $image "" 1 -}}
<section class="cta hasbackgroundcolor">
    <div class="container">
        <div class="twocols box">
            <div class="text">
                <div>{{- $inner | safeHTML -}}</div>
            </div>
            <div class="image">
                <div>{{- $image | safeHTML -}}</div>
            </div>
        </div>
    </div>
</section>