
{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty brick found. Consider creating a 'content/bricks/features.md' file." -}}
    {{- with page.Site.GetPage "bricks/features.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}
{{- $parts := split $inner "---" -}}
<section class="features">
    <div class="container small">
        {{- markdownify (index $parts 0) -}}
    </div>
    <div class="container">
        <ul class="grid features">
            {{ range after 1 $parts }}
                <li class="has_icon">
                    {{- replace (markdownify .) `<p><img` `<p class="image"><img class="black_2_accent"` | safeHTML -}}
                </li>
            {{ end }}
        </ul>
    </div>
</section>


