
{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty brick found. Consider creating a 'content/bricks/faq.md' file." -}}
    {{- with page.Site.GetPage "bricks/faq.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}
{{- $parts := split $inner "---" -}}
<section class="wide faq">
    <div class="container">
        {{- range $parts -}}
            {{- $title := index (findRE `(?s)<h2.*?>.*?</h2>` (markdownify .) 1) 0 -}}
            {{- $titleplain := replace (index (split $title ">") 1) `</h2` `` -}}
            <details>
                <summary>{{- $titleplain | markdownify -}}</summary>
                <div><div>{{- (replace (markdownify .) $title "") | safeHTML -}}</div></div>
            </details>
        {{- end -}}
    </div>
</section>