{{- $inner := . -}}
{{- if or (eq $inner "") (eq $inner nil) -}}
    {{- $inner = "Empty brick found. Consider creating a 'content/bricks/products.md' file." -}}
    {{- with page.Site.GetPage "bricks/products.md" -}}
        {{- $inner = .RawContent -}}
    {{- end -}}
{{- end -}}
<section class="products">
    <div class="container">
        <ul>
            {{ range where page.Site.RegularPages "Section" "products" }}
                <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
            {{ end }}
        </ul>
    </div>
</section>