<a href="{{ relLangURL `/` }}#top" class="logo">
    {{ if (index .Site.Data .Language.Lang).header.logo_image }}
        <img src="{{ (index .Site.Data .Language.Lang).header.logo_image }}" alt="{{ (index .Site.Data .Language.Lang).general.title }} logo" />
    {{ else }}
        <div class="{{ if (index .Site.Data .Language.Lang).header.logo_subtitle }}has_subtitle{{ end}}">
            <img src="{{ .Site.Data.settings.favicon_image }}" alt="{{ (index .Site.Data .Language.Lang).general.title }} logo" class="inline black_2_textDark" />
            <div>
                <span>{{ (index .Site.Data .Language.Lang).general.title }}</span>
                {{ if (index .Site.Data .Language.Lang).header.logo_subtitle }}<span>{{ (index .Site.Data .Language.Lang).header.logo_subtitle }}</span>{{ end }}
            </div>
        </div>
    {{ end }}
</a>