<!-- load reviews from data folder and display them ein a ul -->
<ul class="grid reviews">
{{- range page.Site.Data.reviews -}}
    <li>
        <div class="box">
            <div>
                <img src="{{ .image }}" alt="{{ .name }} image" class="avatar">
                <div>
                    <h3>{{ .name }}</h3>
                    <div class="function">{{ .function }}</div>
                </div>
            </div>
            <div>
                <img src="/img/quote-icon.svg" alt="quote" loading="lazy" class="quote" />
                <p>{{ .description }}</p>
            </div>
        </div>
    </li>
{{- end -}}
</ul>	

